body {
    font-family: "Microsoft YaHei";
}

.navigation > li > ul li:last-child {
    padding-bottom: 0;
}

.navigation > li > ul li:first-child {
    padding-top: 0;
}

.has-feedback.search {
    top: 8px;
}

.navigation-main li > ul, .navigation-main ul > li > a {
    position: relative;
}

.navigation-main li > ul:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    left: 28px;
    top: 20px;
    bottom: 20px;
    border-left: 1px solid #425668;
}

.navigation-main > li > ul > li > ul:before {
    left: 55px;
}

.navigation-main > li > ul > li > ul > li > ul:before {
    left: 80px;
}

.navigation-main ul > li > a:before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 4px !important;
    left: 24px;
    top: 17px;
    background-color: #425668;
    z-index: 2;
}

.navigation-main > li > ul > li > ul > li > a:before {
    left: 51px;
}

.navigation-main > li > ul > li > ul > li > ul > li > a:before {
    left: 76px;
}

.search.has-feedback .form-control {
    height: 30px;
    line-height: 30px;
    min-width: 220px;
}

.search .form-control-feedback {
    height: 30px;
    line-height: 30px;
}

.control-label .text-danger {
    margin-left: 4px;
}
